<div class="day-wrapper">
    <h2>Jain Center of Central Ohio</h2>
    <br />
    <p>
        6683 South Old State Rd
        <br />
        Lewis Center, OH 43035
    </p>
    <br />
    <% @sites.each do |site| %>
      <div class="slot day">
          <div>
              <h3><%= site.title %></h3>
              <p><%= site.description %></p>
          </div>
          <div class="register"><%= link_to 'Register', site_path(site), class: 'btn btn-primary' %></div>
      </div>
    <% end %>
</div>
