<h1>Events</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Donation Type</th>
      <th scope="col">Minimum Donation</th>
      <th scope="col">Slots Open</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, open_slots_path(id: event.id) %></td>
        <td><%= event.donation_type.capitalize %></td>
        <td><%= number_to_currency(event.min_donation_amount) %></td>
        <td><%= event.open_slots.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
