<% if event.has_available_slots? && event.donation_type == 'nakaro' %>
  <%= link_to 'Sign Up', new_donation_path(id: event.id), class: 'btn btn-sm btn-primary' %>
<% end %>
<% if event.donation_type == 'nakaro' %>
  <% index = 1 %>
  <% event.event_slots.each do |event_slot| %>
    <% event_slot.donations.each do |donation| %>
      <div>
        <%= "Family #{index}: " if event.event_slots.length > 1 %>
        <%= donation.name %>
      </div>
      <% index += 1 %>
    <% end %>
  <% end %>
<% elsif event.donation_type == 'boli' %>
  Available at ghee boli
<% end %>
